body {
    display: flex;
    flex-direction: column;
}

#board {
    border-radius: 1px;
    border: solid;
}

circle {
    cursor: pointer;
    pointer-events: all;
}

text {
    cursor: pointer;
    user-select: None;
}

button{
    width: 70px;
}

