body {
    display: flex;
    flex-direction: column;
}

#board {
    border-radius: 1px;
    border: solid;
}

circle {
    cursor: pointer;
    pointer-events: all;
}
circle:hover {
    stroke-width: 3px;
}

line {
    cursor: pointer;
    pointer-events: all;
}
line:hover {
    stroke-color: blue;
    stroke-width: 10px;
}


text {
    cursor: pointer;
    user-select: None;
    pointer-events: none;
}

button{
    width: 70px;
}

.weight {
    font-family: monospace;
    font-weight: bold;
    font-size: xx-large;
    color: green;
    
    stroke: white;
    stroke-width: 5px;
    paint-order: stroke;
    
    text-anchor: middle;
    dominant-baseline: middle;

    cursor: pointer;
    pointer-events: all;
}

.weight:hover {
    font-size: 2rem;
}

#input-weight {
    position: absolute;
    display: none;
    width: 20px;
    
}

